.dialog-box {
  @include position(absolute, 50% null null 50%);
  background-color: $white;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px 0 rgba($black, 0.2);
  padding: $large-spacing;
  transform: translate(-50%, -50%);
  width: 400px;
}
