.log-in-form {
  border-bottom: $base-border;
  margin-bottom: $base-spacing;
}

.log-in-form__title {
  font-size: 2em;
  margin: 0 0 $base-spacing;
}

.log-in-form__button {
  margin: 0 0 $large-spacing;
}
