$base-font-size: 1em;

$base-border-radius: 3px;
$base-spacing: 1em;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;

$white: #fff;
$black: #000;
$blue: #1565c0;
$dark-gray: #333;
$light-gray: #ddd;

$base-font-color: $dark-gray;
$action-color: $blue;

$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

$base-background-color: #fff;
$secondary-background-color: #f7f7f7;
