<section class="dialog-box">
  <h1 class="log-in-form__title">Welcome Back</h1>

  <form class="log-in-form">
    <input class="log-in-form__input"
           type="email"
           name="email"
           value=""
           placeholder="Email"
           aria-label="Email">

    <input class="log-in-form__input"
           type="password"
           name="password"
           value=""
           placeholder="Password"
           aria-label="Password">

    <button class="log-in-form__button">Log In</button>
  </form>

  <small class="log-in-form__forgot-link">
    <a href="#">Forgot Your Password?</a>
  </small>
</section>
